body {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family:'GillSans-Light';
}

@font-face {
    font-family: DDTW00-CondensedSemiBold;
    src: url("../fonts/DDTW00-CondensedSemiBold.ttf")
  }

p.customfont { 
    font-family: "DDTW00-CondensedSemiBold";
}

h1,
h2 {
    font-family: 'DDTW00-CondensedSemiBold';
    font-size: 45px;
}

p {
    line-height: 1.4;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #452366;
    margin: 0;
    padding: 0.5rem;
}

#header-logo {
    margin-top: 0.3rem;
}

#header-logo img {
    width: 100%;
    height: 4rem;
    object-fit: contain;
    margin-left: 10px;
    padding-left: 1rem; 
}

#header-logo-mobile img {
    width: 100%;
    height: 0rem;
    object-fit: contain;
    opacity: 0;
}

#menu-toggle {
    display: none;
}

#menu {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2.5rem; 
}

#menu a {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-family: 'DDTW00-CondensedSemiBold';
}

#menu a:hover {
    text-decoration: underline;
}

.hero { 
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0)),url(../images/e2.png);;
    min-height: 6rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 5rem;
    object-fit: contain;
    color: white;
    text-align: center;
    justify-content: center;
}

.hero h1 { 
    font-size: 90px;
    margin-bottom: 1rem;
}

.hero p { 
    font-size: 30px;
    margin-top: 1rem;
    width: 45rem;
}

.container-1 {
    padding: 3rem;
    display: flex;
    gap: 5rem;
}

.head-button,
.see-more {
    padding: 1rem 2rem;
    background-color: #452366;
    margin: 0rem;
    color: #FFFFFF;
    text-decoration: none;
    font-family:'DDTW00-CondensedSemiBold';
    font-size: 40px;
    border-radius: 1rem;
}

.head-button:hover,
.see-more:hover {
    background-color: #782D8E;
}

.hero-text {
    text-align: center;
    top: 5rem;
    right: 2.5rem;
    margin: auto;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    column-gap: 3rem;
    margin-bottom: 4rem;
    width: 70%;
    text-align: center;
    justify-content: center;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}

.top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .text-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 70%;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .text-overlay h2,
  .text-overlay p,
  .text-overlay a  {
    color: #FFFFFF;
  }


  .text-overlay h2 {
    font-size: 45px;
    margin-bottom: 0%;
  }

  .text-overlay p {
    font-size: 25px;
    margin-bottom: 3rem;
  }

  .text-overlay a {
    border: solid #FFFFFF;
    border-radius: 1rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .call-to-action h2 {
    padding-bottom: 0rem;
    margin-bottom: 0%;
    padding-top: 2rem;
  }

  .call-to-action p {
    font-size: 25px;
    margin-bottom: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .work-wrap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .work-wrap {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .work-wrap a {
    display: block;
    margin-left: auto;
    margin-right: auto;  
  }

  .text-overlay a:hover,
  .text-overlay-w a:hover {
    text-decoration: underline;
  }

  .container-9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 2rem 2rem;
  }

  .work-body img {
    object-fit: cover;
  }

  

  .image-wrap:hover .top,
  .work-wrap:hover img {
    filter: brightness(50%);
  }

  .image-wrap:hover .text-overlay,
  .work-wrap:hover .text-overlay-w {
    opacity: 1;
  }

.works-section img,
.grid-container img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    display: block;
}

.info {
    background-color: #FFFFFF;
    color: #452366;
    padding: 0.1rem 2.5rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.info p {
    width: 100%;
}


.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    column-gap: 3rem;
    justify-content: center;
    text-align: center;
    width: 45%;
}

.redirect,
.redirect-2 {
    display: flex;
    gap: 1.5rem;
    margin-left: 3rem;
}

.redirect-2 {
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 0%;
}

.works-section {
    text-align: center;
    margin-bottom: 4rem;
}

.container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-bottom: 3rem;
    padding: 2rem;
    gap: 1.5rem;
}

.flex-container,
.flex-container-1,
.flex-container-2 {
    display: flex;
    flex-direction: row;
}

.flex-container {
    padding-bottom: 5rem;
}

.flex-container-2 {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.flex-container-2 img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-top: 3rem;
}

.flex-container-1 {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.about-me {
    width: 35rem;
}

.my-image img {
    width: 100%;
    height: 30rem;
    object-fit: contain;
    margin-left: 5rem;
    margin-right: 5rem;
}

.logo-image img {
    width: 100%;
    height: 30rem;
    object-fit: contain;
    margin-left: 1rem;
    margin-right: 6rem;
}

.flex-container h1,
.flex-container-2 h1 {
    font-size: 60px;
    padding-left: 3rem;
}

.flex-container-1 h1 {
    font-size: 90px;
    margin-top: 1rem;
    margin-bottom: 0%;
    color: #452366;
}

.flex-container p,
.flex-container-1 p,
.flex-container-2 p {
    font-size: 25px;
    padding-left: 3rem;
}

.work-body h1 {
    text-align: center;
    font-size: 70px;
    color: #FFFFFF;
}

.work-body img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.text-overlay-w {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5 {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .work-wrap h2,
  .work-wrap p,
  .work-wrap a {
    color: #FFFFFF;
  }

  .project-name {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0%;
  }

  .main-image img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    display: block;
    padding-top: 3rem;
  }

  .project-explanation {
    padding: 3rem;
    padding-top: 0;
    margin: 0rem 8rem;
    text-align: center;
    font-size: 25px;
  }

  .work-display,
  .work-display-t,
  .work-display-a,
  .work-display-b,
  .work-display-sg,
  .work-display-ad,
  .work-display-il,
  .work-display-z,
  .work-display-ls,
  .work-display-ps,
  .work-display-as,
  .work-display-fc,
  .work-display-bc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .work-display img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  .work-display-t img,
  .work-display-fc img,
  .work-display-bc img {
    width: 100%;
    height: 30.15rem;
    object-fit: cover;
    display: block;
  }

  .work-display-a img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
  }

  .work-display-z,
  .work-display-b,
    .work-display-sg,
  .work-display-ad,
  .work-display-il{
    background-color: #782D8E;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  .work-display-z img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  .work-display-b img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
  }

  .work-display-sg img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
  }

  .work-display-ad img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  .work-display-il img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    display: block;
  }

  .work-display-ls img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  .work-display-ps img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
  }

  .work-display-as img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    display: block;
  }

  .videos {
    text-align: center;
  }

  .process-name {
    text-align: center;
  }

  .text-overlay-w h2 {
    margin-bottom: 1.5rem;
    font-size: 45px;
  }

  .text-overlay a:hover {
    text-decoration: underline;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.contact-text {
    justify-content: flex-start;
    background-color: #452366;
    padding-right: 3rem;
    padding-left: 2rem;
}

.contact-text h1 {
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 0%;
}

.contact-text p {
    color: #FFFFFF;
    font-size: 25px;
    margin-top: 0.7rem;
}

.contact-text a {
    color: #FFFFFF;
    font-family: 'DDTW00-CondensedSemiBold';
}

.form {
    display: flex;
    justify-content: center;
}

#name,
#email,
#message {
    font-size: 20px;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    font-family: 'GillSans-Light';
    margin-bottom: 1.5rem;
    border-width: 2px;
}

#name,
#email {
    padding: 0.3rem;
    width: 15rem;
    height: 1.5rem;
}

#message {
    padding: 0.3rem;
    width: 30rem;
    height: 15rem;
    font-family: 'GillSans-Light';
    font-size: 20px;
}

form button {
    margin-bottom: 1.5rem;
    background-color: #782D8E;
    padding: 0.7rem 2.5rem;
    font-family:'DDTW00-CondensedSemiBold';
    color: #FFFFFF;
    font-size: 25px;
    border-width: 0rem;
    border-radius: 5px;
}

label {
    font-family: 'DDTW00-CondensedSemiBold';
    font-size: 25px;
    margin-bottom: 0.3rem;
}

footer {
    background-color: #452366;
    align-content: center;
    padding: 3.5rem 2rem 1.5rem;
    gap: 5rem;
}

.footer-logo img {
    width: 100%;
    height: 4rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container img {
    width: 100%;
    height: 4rem;
    object-fit: contain;
    padding-right: 3.3rem;
}

footer p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 4rem;
}

/* Phone Screens */
@media screen and (min-width: 240px) and (max-width: 480px) {
    #menu-toggle {
        font-size: 3.5rem;
        display: flex;
        color: #FFFFFF;
        background-color: #452366;
        padding: 0;
        margin-top: 0.4rem;
        border: 0px;
        margin-right: 1rem;

    }

    #menu {
        display: none;
    }

    #menu {
        flex-direction: column;
        position: absolute;
        top: 4.55rem;
        right: 0%;
        background-color: #782D8E;
        padding: 1rem;
        row-gap: 3rem;
    }


    #menu.active {
        display: flex;
    }

    #menu a {
        color: rgb(255, 255, 255);

    }

    #menu a:hover {
        text-decoration: underline;
    }
    
    #header-logo img {
        padding:0;
        height: 0rem;
        width: 0%;
        opacity: 0;
        margin: 0%;
    }

    #header-logo-mobile img {
        width: 100%;
        height: 4rem;
        object-fit: contain;
        opacity: 1;
        padding-left: 0%;
        margin-left: 0%;
        margin-top: 0.3rem;
    }

    #header-logo-mobile {
        margin-left: 0;
        justify-content: flex-start;
        padding-left: 0%;
        margin-left: 0%;
    }
    

    .hero {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .hero p {
        font-size: 20px;
        width: 100%;
    }

    .hero h1 {
        font-size: 30px;
        width: 100%;
    }

    .container-1 {
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .container-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 3rem;
        margin-bottom: 2rem;
        font-size: 25px;
        width: 70%;
    }

    .container-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        font-size: 25px;
        width: 70%;
    }

    .container-4 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
        padding: 0rem;
        gap: 0.5rem;
        padding-top: 1rem;
    }

    .text-overlay {
        opacity: 1;
        top: 0%;
        width: 90%;
        transform: translate(-50%, 15%);
        padding-bottom: 5rem;
        padding-top: 0%;
    }

    .image-wrap img {
        width: 100%;
        height: 20rem
    }

.text-overlay h2,
.call-to-action h2 {
    font-size: 40px;
}

.text-overlay p {
    font-size: 20px;
}

.text-overlay a {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.see-more {
    padding: 1rem 2rem;
    background-color: #452366;
    margin: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    font-family:'DDTW00-CondensedSemiBold';
    font-size: 20px;
    border-radius: 1rem;
}

.call-to-action p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 20px;
}


footer {
    padding: 2rem;
}

.footer-container {
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
}

.footer-container img {
    height: 4rem;
    padding-right: 2rem;
}

.flex-container,
.flex-container-1,
.flex-container-2 {
    flex-direction: column;
    padding: 0%;
}

.my-image img {
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.about-me h1 {
    font-size: 45px;
}

.about-me p {
    font-size: 20px;
}

.redirect,
.redirect-2 {
    padding-top: 1rem;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin-left: 0%;
}

.redirect-2 {
    text-align: center;
    padding-top: 3rem;
}

.flex-container p,
.flex-container h1,
.flex-container-1 p,
.flex-container-1 h1,
.flex-container-2 p,
.flex-container-2 h1  {
    padding-left: 0;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5 {
    position: relative;
    left: 0%;
    right: 0;
    top: 0;
    }

    .work-body img {
        width: 70%;
        height: 20rem;
        margin-bottom: 3rem;
    }
    
.work-body {
    padding-bottom: 5rem;
}

.container-9 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 3rem 0rem;
    margin: 0%;
    gap: 0rem
}

.text-overlay-w {
    opacity: 1;
}

.text-overlay-w h2,
.text-overlay-w a {
text-align: center;
margin: 0% auto;
}

.text-overlay-w h2 {
    font-size: 25px;
    width: 30%;
    margin-bottom: 1rem;
}

.text-overlay-w a {
    font-size: 20px;
    padding: 0.5rem 1rem;
}

.project-name {
    font-size: 45px;

}

.main-image img {
    height: 20rem;
}

.grid-container img {
    height: 20rem;
}

.project-explanation {
    margin: 0rem 0rem;
    padding: 1rem;
    font-size: 20px;
}

.work-display-as img {
    height: 8rem;
  }

  .work-display-sg img {
    height: 8rem;
  }

  .work-display-ls img {
    height: 10rem;
  }

  .work-display-ps img {
    height: 8rem;
  }

  .work-display-t img {
    height: 10rem;
  }

  .work-display-fc img,
  .work-display-bc img {
    height: 15rem;
  }

  .process-name {
    font-size: 30px;
  }

video {
    width: 15rem;
    height: 100%;
}

.container-1 {
    gap: 0;
}

.contact-text {
    padding-left: 1rem;
    padding-right: 0.8rem;
}

.contact-text h1 {
    font-size: 30px;
}

.contact-text p {
    font-size: 20px;
}

.contact-text a {
    font-size: 20px;
}
    
    .work-wrap img,
    .image-wrap img {
        filter: brightness(50%);
    }
    
    .grid-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .flex-container-2 {
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    .flex-container-2 p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-image {
        width: 60%;
        align-self: center;
    }

    .logo-image img {
        margin-left: 0%;
        margin-bottom: 0%;
    }

    .flex-container-1 h1 {
        font-size: 80px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info img {
        height: 8rem;
    }

    .contact-info h2 {
        text-align: center;
    }

    .contact-info a {
        font-size: 30px;
    }

    form {
        margin-top: 1rem;
        text-align: center;
    }

#name,
#email {
    width: 10rem;
}

#message {
    padding: 0.3rem;
    width: 12rem;
    height: 18rem;
    font-family: 'GillSans-Light';
    font-size: 20px;
}

form button {
    margin-bottom: 1.5rem;
    background-color: #782D8E;
    padding: 0.7rem 2.5rem;
    font-family:'DDTW00-CondensedSemiBold';
    color: #FFFFFF;
    font-size: 25px;
    border-width: 0rem;
    border-radius: 5px;
}

label {
    font-family: 'DDTW00-CondensedSemiBold';
    font-size: 25px;
    margin-bottom: 0.3rem;
}


}

/* Tablet Screens */
@media screen and (min-width: 481px) and (max-width: 768px) {

    #header-logo img {
        padding:0;
        height: 0rem;
        width: 0%;
        opacity: 0;
        margin: 0%;
    }

    #header-logo-mobile img {
        width: 100%;
        height: 3.5rem;
        object-fit: contain;
        opacity: 1;
        padding-left: 0%;
        margin-left: 0%;
    }

    #header-logo-mobile {
        margin-left: 0;
        justify-content: flex-start;
        padding-left: 0%;
        margin-left: 0%;
    }
    
    #menu {
        padding-right: 1rem; 
    }
    
    #menu a {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }

    .hero {
        padding-bottom: 3rem;
    }

    .hero-text {
        width: 90%;
    }

    .hero p {
        max-width: 100%;
        font-size: 25px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .container-1 {
        flex-direction: column;
        row-gap: 5rem;
        justify-content: center;
        align-items: center;
    }

    .container-2 {
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-columns: 1fr;
     row-gap: 3rem;
    }

    .container-3 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        width: 70%;
    }

    .container-2 h2,
    .container-3 h2 {
        font-size: 50px;
        padding: 0%;
        margin-bottom: 0%;
        margin-top: 1.5rem;
    }

    .container-2 p,
    .container-3 p {
        font-size: 25px;
    }

    .container-4 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        gap: 0.5rem;
    }

    .text-overlay {
        opacity: 1;
        top: 0%;
        width: 80%;
        transform: translate(-50%, 50%);
        padding-bottom: 5rem;
        padding-top: 0%;
        text-decoration: none;
    }
    
    .text-overlay h2,
    .text-overlay p, 
    .text-overlay a {
        color: #FFFFFF;
    }

.call-to-action p {

    margin-left: 1rem;
    margin-right: 1rem;
}
    
    .text-overlay a {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .image-wrap img {
        filter: brightness(50%);
    }

.flex-container,
.flex-container-1,
.flex-container-2 {
    flex-direction: column;
    padding: 0%;
}

.my-image img {
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    text-align: center;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.redirect,
.redirect-2 {
    padding-top: 1rem;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    margin-left: 0%;
}

.redirect-2 {
    text-align: center;
    padding-top: 3rem;
}

.flex-container p,
.flex-container h1,
.flex-container-1 p,
.flex-container-1 h1,
.flex-container-2 p,
.flex-container-2 h1  {
    padding-left: 0;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5 {
    position: relative;
    left: 0%;
    right: 0;
    top: 0;
    }

    .work-body img {
        width: 70%;
        height: 20rem;
        margin-bottom: 3rem;
    }
    
.work-body {
    padding-bottom: 5rem;
}

  
    .text-overlay-w {
        opacity: 1;
    }
    
    
    .text-overlay-w h2,
    .text-overlay-w a {
    text-align: center;
    margin: 0% auto;
    }

    .text-overlay-w h2 {
        font-size: 30px;
        width: 30%;
        margin-bottom: 1rem;
    }

    .text-overlay-w a {
        font-size: 25px;
        padding: 0.5rem 1rem;
    }

    .container-9 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 2rem 0rem;
        margin: 0%;
        gap: 0rem
    }

    .flex-container-2 {
        margin-bottom: 1rem;
    }

    
    .work-wrap img {
        filter: brightness(50%);
    }

    .project-name {
        font-size: 45px;

    }

    .main-image img {
        height: 25rem;
    }

    .project-explanation {
        margin: 0rem 0.5rem;
        padding: 1rem;
    }

    video {
        width: 28rem;
        height: 100%;

    }

    .work-display img {
        height: 20rem;
      }
    
      .work-display-t img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-a img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-z img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-b img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-sg img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-ad img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
        display: block;
      }
    
      .work-display-il img {
        width: 100%;
        height: 13rem;
        object-fit: cover;
        display: block;
      }

      .work-display-ps img {
        height: 16rem
      }

      .work-display-as img {
        height: 17rem;
      }

      .grid-container img {
        height: 25rem;
    }

    .flex-container-1 h1 {
        font-size: 80px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info img {
        height: 12rem;
    }

    .contact-info h2 {
        text-align: center;
    }

    .contact-info a,
    .contact-info h2 {
        font-size: 45px;
    }

    form {
       text-align: center; 
       margin-top: 0%;
    }

#name,
#email {
    width: 15rem;
    height: 1.7rem;
}

#message {
    width: 25rem;
    height: 20rem;
}

form button {
    padding: 0.8rem 2.9rem;
    border-radius: 9px;
}

label {
    font-family: 'DDTW00-CondensedSemiBold';
    font-size: 25px;
    margin-bottom: 0.3rem;
}


    footer {
        padding: 3rem 2rem 1rem;
    }

    .footer-logo {
        align-self: flex-start;
    }


    .footer-container {
        gap: 2rem;
    }

    .footer-container img {
        height: 3.5rem;
        padding-right: 0%;
    }

    .footer-logo img {
        height: 3.5rem;
    }

    @media screen and (min-width: 481px) and (max-width: 569px) {
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 1rem;
        }
        
    }
}

/* Small Desktop Screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #header-logo img {
        padding-left: 0.3rem; 
        height: 2.9rem;
        align-items: center;
        margin-top: 0.3rem;
    }

    #menu {
        padding-right: 0.3rem; 
    }

    #menu a {
        font-size: 30px;
        padding-right: 1rem;
    }

    .head-button {
        padding: 1rem 2rem;
        margin: 0.5rem;
        font-size: 30px;
        border-radius: 1rem;
    }

    .container-1 {
        padding: 1rem;
        flex-direction: column;
    }

    form {
        text-align: center;
    }

    .hero {
        padding-top: 1rem;
        padding-bottom: 3rem;
    }

    .hero h1 {
        font-size: 55px;
    }

    .hero p {
        font-size: 25px;
    }

    .container-2 img,
    .container-3 img {
        height: 13rem;
        column-gap: 0.5rem;
    }

    .text-overlay {
        width: 90%;
    }

    .text-overlay h2 {
        font-size: 35px;
      }

    .text-overlay p {
        font-size: 20px;
        margin-bottom: 2rem;
    }

    .container-9 {
        padding: 3rem 2rem;
    }

    .container-4 {
        padding: 1rem;
        padding-bottom: 3rem;
        gap: 1rem;
    }

    .redirect,
    .redirect-2 {
        justify-content: center;
        margin-left: 0%;
    }
    

    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
    }

    .my-image img {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5rem;

    }

    .about-me {
        text-align: center;
        width: 90%;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-container p {
        padding-left: 0;
    }
    
    .text-overlay-w h2{
        font-size: 35px;
    }
    
   .project-explanation {
    margin: 0rem 2rem;
    padding: 1rem 3rem;
   }

   video {
    width: 40rem;
    height: 100%;
   }
    
    .work-1,
    .work-2,
    .work-3,
    .work-4,
    .work-5 {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
    
      .work-wrap h2,
      .work-wrap p,
      .work-wrap a {
        color: #FFFFFF;
      }
    
    
      .text-overlay-w {
        margin-bottom: 1.2rem;
      }

      .flex-container-2 h1 {
        font-size: 50px;
      }

      .flex-container-2 img {
        margin-left: 1rem;
      }

      .about-me {
        width: 40rem
      }

      .flex-container-1 h1 {
        font-size: 80px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact-info img {
        height: 12rem;
    }

    .contact-info h2 {
        text-align: center;
    }

    .contact-info a,
    .contact-info h2 {
        font-size: 45px;
    }

    .flex-container-1 {
        flex-direction: column;
    }

}
